/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: sans-serif;
}

/* header */
header{
    position: fixed;
    z-index: 500;
    width: 100%;
    background-color: rgb(255, 111, 0);
    display: flex;
    justify-content: center;
    filter: drop-shadow(1px 0px 4px rgba(0, 0, 0, 0.5));
    
}

header a{
    color: rgb(230, 230, 230);
    
}

header div{
    display: flex;
    align-items: center;
    height: 60px;
    width:calc(80% / 3);
}

.categoria a{
    font-size: 14px;
    font-weight: bold;
    margin-right: 7px;
    text-decoration: none;
}

.logo{
    justify-content: center;
}

.menu{
    flex-direction: row-reverse;
}

.menu a{
    margin-left: 5px;
}

img[alt="Boolean logo"]{
    height: 25px;
}


/* main */
main{
    padding-top: 100px;
}

.row{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.col{
    width: calc((80% / 3) - 10px);
    margin:0 10px;
}


main img{
    width: 100%;
    display: block;
}

.card{
    position: relative;
}

/* hover cards */

.option_b{
    display: none;
}

.card:hover .option_b{
    display:block;
}

.card:hover .option_a{
    display:none;
}

/* lable */

.lable_row{
display: flex;
position: absolute;
bottom:10%;
}

.lable_row div{
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-right: 5px;
    padding: 2px;
}

.discount{
    background-color: red;
}

/* info */

.info span{
    font-size: 14px;
}

.price{
    color:red;
    font-weight: bold;
}

.old_price{
    text-decoration: line-through;
}


.Sostenibilità{
    background-color: green;
}

/* like */

.like_container{
    background-color: white;
    padding: 5px;
    position: absolute;
    top: 2%;
    right: 0%;
}

.like_container:hover .fa-heart{
    color: red;
}

/* footer */
footer{
    background-color: #0d1117;
    color: white;
    display: flex;
    justify-content: center;
}

footer a{
    color: white;
    text-decoration: none;
}

footer  div{
    padding:10px 0;
    display: flex;
    flex-direction: column;
    width:calc(80% / 2);
}

.social{
    align-items:flex-end;
}

.social_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.social_container *{
    margin-left: 8px;
    
}

.legal_info{
    font-size: 8px;
    display: flex;
    flex-direction: row;
    
}

.legal_info *{
    margin-right: 8px;
    flex-grow: 1;
}





