/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: sans-serif;
}

/* header */
header{
    position: fixed;
    z-index: 500;
    width: 100%;
   background-color: rgb(255, 111, 0);
    display: flex;
    justify-content: center;
    filter: drop-shadow(1px 0px 2px #000000);
}

header a{
    color: rgb(230, 230, 230);
    
}

header div{
    display: flex;
    align-items: center;
    height: 60px;
    width:calc(80% / 3);
}

.categoria a{
    font-size: 14px;
    font-weight: bold;
    margin-right: 7px;
    text-decoration: none;
}

.logo{
    justify-content: center;
}

.menu{
    flex-direction: row-reverse;
}

.menu a{
    margin-left: 5px;
}

img[alt="Boolean logo"]{
    height: 25px;
}


/* main */
main{
    padding-top: 100px;
}

/* debug */
main div{
    border:1px solid red;
}

.row{
    display: flex;
    justify-content: center;
}

.col{
    width: calc(80% / 3);
    margin:0 10px;
}


main img{
    width: 100%;
    display: block;
}

.card{
    position: relative;
}

/* hover cards */

.option_b{
    display: none;
}

.card:hover .option_b{
    display:block;
}

.card:hover .option_a{
    display:none;
}

/* lable */

.lable_row{
display: flex;
position: absolute;
bottom:10%;
}

.lable_row div{
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-right: 5px;
    padding: 2px;
}

.discount{
    background-color: red;
}

/* info */

.info span{
    font-size: 14px;
}

.price{
    color:red;
    font-weight: bold;
}

.old_price{
    text-decoration: line-through;
}


.Sostenibilità{
    background-color: green;
}

/* like */

.like_container{
    background-color: white;
    padding: 5px;
    position: absolute;
    top: 2%;
    right: 0%;
}

.like_container:hover .fa-heart{
    color: red;
}




